.gt-form-field {
    width: 100%!important
}

.styles-overriding-css-example {
    width: 50% !important;
    margin: 0 auto !important;
    border: 2px solid #FF9800 !important;
    background-color: #ffd699 !important;
}